* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background: #222222;
}

header {
    width: 100%;
    height: 82px;
    background-color: #3c3b3a;
    position: fixed;
    top: 0;
}

.nav-main {
    height: 82px;
    display: flex;
    justify-content: space-between;
}

.left-align_container {
    display: flex;
    align-items: center;
    margin: auto 40px;
}

.left-align_container h4 {
    margin-right: 40px;
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 2.0rem;
}

.nav-links ul {
    display: flex;
}

.nav-links ul li {
    padding: 0 20px;
}

.nav-links ul li a {
    color: #FAF4E6;
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
}

.nav-links ul li a:hover {
    color: #0065FF;
    text-decoration: underline;
}

/* Lado derecho*/

.right-align_container {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.right-align_container a {
    margin: 0 10px;
}

.twiter {
    width: 30px;
    height: 30px;
    background-image: url(./assets/svg/twitter.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.github {
    width: 42px;
    height: 42px;
    background-image: url(./assets/svg/github.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.instagram {
    width: 30px;
    height: 30px;
    background-image: url(./assets/svg/instagram.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Cuerpo blog*/ 



.main-title_container {
    width: 962px;
    height: 864px;
    margin: 0 auto;
    margin-top: 132px;
    margin-bottom: 80px;
}

.main-title_container img {
    border-radius: 50px;
    margin-bottom: 40px;
}

.main-title_container h2 {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 70px;
    color: #FAF4E6;
}

#line-start {
    width: 200px;
    height: 1px;
    margin-top: 80px;
}

.main-title_container p {
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    color: #FAF4E6;
    margin-top: 80px;
    margin-bottom: 46px;
}


.main-title_container .main-title__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 462px;
    height: 56px;
    background: #3C3B3A;
    border-radius: 10px;
    
}

.main-title__button span {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #FAF4E6;
}

.main-title__button .icon-chulo {
    width: 15px;
    height: 15px;
    margin-right: 8px;
    background-image: url(./assets/svg/comprobar.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Segunda sección */